body{
    font-family: sans-serif;
}
.gradient{
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: linear-gradient(to bottom, rgb(90 50 234 / 35%), rgb(201 168 102 / 63%));
}
.container{
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: white;
}
.login-box{
    margin-top: 120px;
    padding:20px 50px;
}
h2{
    color: #e46c3a;
    font-size: 30px;
}
label[for]{
    font-weight: bold;
}
.remember{
    width: 20px;
    margin: 10px 0;
}
input{
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
}

.login{
    width:100%;
    padding:10px;
    background:#e46c3a;
    color:white;
    border:none;
    margin:10px auto;
    font-weight: bold;
}
@media only screen and (max-width:600px){
    .gradient{
        display: none;
    }

    .container{
        width: 100%;
    }
    .login-box{
        width:80%;
        margin: 120px auto;
    }
    h2{
        font-size:25px;
        
    }
    .login{
        font-size:16px;
    }

}
    